:root{
  --black-d : #0c0c0c;
  --blue-d : #4F1AFF;
}

/*==============================================
 Preflight : node_modules/tailwindcss/css/preflight.css
 ===============================================*/
@tailwind preflight;

html{
  font-family: 'Sarabun', 'Open Sans' sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sarabun', sans-serif;
  @apply text-white;
}

h1 {
  @apply text-xl ;
}

h2 {
  @apply text-2xl  font-bold text-green-dark italic pt-2 pb-2;
}

h3{
  @apply text-base font-light;
}
/*h5 is Titel voor tabs*/
h4 {
  @apply text-2xl text-white font-thin mt-2 mb-1;
}
h5{
  @apply text-lg text-green-light py-1;
}
/*h6 is label voor tabs*/
h6{
  @apply text-sm text-green mb-2 font-thin;
}
p {
  font-family: 'Open Sans', sans-serif;
  @apply text-sm text-white font-hairline;
}

@screen md {
  h1 {
    @apply text-4xl;
  }
  
  h2 {
    @apply text-4xl;
  }
  
  h3{
    @apply text-xl font-light;
  }
  h4 {
    @apply text-4xl text-white mt-2 mb-1;
  }
  h5{
    @apply text-xl text-green-light pt-2 pb-1;
  }
  h6{
    @apply text-sm;
  }
  p {
    @apply text-sm font-hairline;
   
  }
}

/*==============================================
 Components
 ===============================================*/
@tailwind components;

/*==============================================
// 0. Buttons etc



/*==============================================
// 1. General Layout
*/

.section-wrapper{
  
}

/*==============================================
// 2. Naviagtion
*/
/*-webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;*/



/*==============================================
// 3. Why
*/

/*==============================================
// 4. How
*/

/*==============================================
// 5. What
*/

/*==============================================
// 6. Testimonials
*/

.testimonial-buttons_wrapper{
  overflow: hidden;
}

.testimonial-tab__button{
  @apply px-4 py-2 mx-2 my-2 text-white border-black-doubledeep border-b-4;
  cursor: pointer;
  transition: 0.3s;
}
.testimonial-tab__button:hover {
  @apply bg-green text-white shadow rounded;
}
.testimonial-tab__button .active {
  @apply rounded;
}
/*bg-black-doubledeep*/
.testimonial-content__wrapper{
  display: none;
  @apply px-8  rounded-sm font-light leading-normal;
}
.testimonial-content__wrapper {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*==============================================
// 7. Contact
*/


/*==============================================
// 8. Footer
*/


/*==============================================
 Utilities
 ===============================================*/
@tailwind utilities;
/*Utility*/
.active{
  @apply text-green;
}

/*Hamburger Toggle*/
.navbar-burger {
    @apply text-white;
  }
  